[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/martinboryczko
[access "refs/for/refs/*"]
	read = group user/martinboryczko
	push = group user/martinboryczko
	label-Code-Review = -2..+2 group user/martinboryczko
	label-Verified = -1..+1 group user/martinboryczko
	rebase = group user/martinboryczko
	removeReviewer = group user/martinboryczko
	submit = group user/martinboryczko
[access "refs/heads/*"]
	read = group user/martinboryczko
	create = group user/martinboryczko
	push = +force group user/martinboryczko
	pushMerge = group user/martinboryczko
[access "refs/tags/*"]
	push = group user/martinboryczko
	push = +force group user/martinboryczko
[receive]
	requireChangeId = true
